* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf4eb;
  position: relative;
}

@font-face {
  font-family: "SeasonSansTRIAL-Bold";
  src:
    url("./fonts/seasons/SeasonSansTRIAL-Bold.woff") format("woff"),
    url("./fonts/seasons/SeasonSansTRIAL-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SeasonSansTRIAL-Medium";
  src: url("./fonts/seasons/SeasonSans-TRIAL-Medium.ttf") format("truetype");
  font-weight: 550;
  font-style: normal;
}

@font-face {
  font-family: "SeasonSansTRIAL-Regular";
  src:
    url("./fonts/seasons/SeasonSansTRIAL-Regular.woff") format("woff"),
    url("./fonts/seasons/SeasonSansTRIAL-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SeasonSansTRIAL-Light";
  src:
    url("./fonts/seasons/SeasonSansTRIAL-Light.woff") format("woff"),
    url("./fonts/seasons/SeasonSansTRIAL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SeasonMix-Medium";
  src:
    url("./fonts/seasonsmix/SeasonMixTRIAL-Medium.woff") format("woff"),
    url("./fonts/seasonsmix/SeasonMixTRIAL-Medium.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SeasonMix-Regular";
  src:
    url("./fonts/seasonsmix/SeasonMixTRIAL-Regular.woff") format("woff"),
    url("./fonts/seasonsmix/SeasonMixTRIAL-Regular.woff2") format("woff2");
  font-weight: 420;
  font-style: normal;
}

.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.grid-line {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
}

.grid-line:nth-child(1) {
  left: 25%;
}
.grid-line:nth-child(2) {
  left: 50%;
  transform: translate(-50%);
}
.grid-line:nth-child(3) {
  left: 75%;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.overlay {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#navbar {
  width: 100%;
  position: fixed;
  background-color: #fcf4eb;
  top: 0;
  left: 0;
  height: 156px;
  z-index: 1;
  transition: all 0.3s ease;
}

#navbar.scrolled {
  background: rgba(252, 244, 235, 0.55);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -20px;
}

.banner-textbox {
  display: flex;
  align-items: center;
  background-color: #f96243;
  font-family: "SeasonSansTRIAL-Medium";
  font-weight: 550;
  font-size: 16px;
  width: calc(75% - 10px);
  padding: 10px 20px;
}

.menu ul {
  list-style: none;
}

.lang-togglebox ul {
  list-style: none;
}

.lang-togglebox {
  width: calc(25% - 10px);
}

.lang-togglebox ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.lang-togglebox ul li:not(:last-child) {
  margin-right: 35px;
}

.lang-togglebox ul li a {
  font-family: "SeasonSansTRIAL-Regular";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  position: relative;
  padding: 4px 15px 4px 5px;
  text-decoration: none;
  color: #000;
}

.mobile-lang-togglebox {
  display: none;
}

.selected {
  background-color: #f96243;
  padding: 1px 14px 1px 6px;
  text-align: left;
}

.navigation {
  padding: 20px 0;
}

.navigation_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.aral {
  width: 155px;
}

.aral img {
  height: 65px;
  width: 100%;
}

.main_logo {
  display: block;
}

.mobile_logo {
  display: none;
}

.menu {
  width: calc(70% - 10px);
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li:not(:last-child) {
  margin-right: 60px;
}

.menu > ul > li > a {
  font-size: 16px;
  font-family: "SeasonSansTRIAL-Regular";
  text-decoration: none;
  color: #000;
}

#mobile-menu {
  display: none;
}

.school {
  width: 245px;
}

.school img {
  width: 100%;
  height: 65px;
}

.hamburger_button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  display: none;
}

.hamburger_rect {
  width: 34px;
  height: 34px;
  border: 1px solid #000;
  position: relative;
}

.hamburger_rect::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #f96243;
  margin: auto;
  inset: 0;
}

.square {
  position: absolute;
  background-color: #000;
  z-index: 1;
  width: 21px;
  height: 21px;
  left: 0;
  right: 0;
  top: 145px;
  margin: auto;
}

#hero {
  padding-top: 205px;
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  object-position: center;
}

.hero-box {
  width: calc(50% - 10px);
}

.hero-text {
  font-size: 36px;
  color: #000;
  font-weight: 420;
  padding: 90px 50px;
  background-color: #fcf4eb;
  position: relative;
  font-family: "SeasonMix-Regular";
}

.hero-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: 1px;
  width: calc(100% + 30px);
  pointer-events: none;
  background-color: #000;
}

.hero-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  height: 1px;
  width: calc(100% + 30px);
  pointer-events: none;
  background-color: #000;
}

#intro {
  position: relative;
  height: 507px;
}

.intro-right-box {
  position: absolute;
  top: 0;
  pointer-events: none;
  z-index: -1;
  left: 75%;
}

.intro_wrapper {
  max-width: 620px;
  padding-top: 120px;
  padding-bottom: 80px;
  margin: 0 auto;
  background-color: #fcf4eb;
}

.intro-left-box {
  position: absolute;
  left: 0;
  top: 125px;
}

.intro-info {
  font-size: 30px;
  font-weight: 400;
}

.intro-info h2 {
  font-family: "SeasonMix-Medium";
}

.intro-info p {
  font-family: "SeasonSansTRIAL-Regular";
}

.apply-box {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f96243;
  height: 87px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.apply-box:hover {
  background-color: #000;
  color: white;
}

.apply-box:hover .square-shape {
  background-color: #f96243;
}

.deadline-box {
  max-width: 210px;
  font-family: "SeasonMix-Regular";
  font-size: 16px;
  margin-left: 31px;
}

.deadline-box > p:first-child {
  font-family: "SeasonMix-Medium";
}

.square-shape {
  background-color: #000;
  z-index: 11;
  width: 21px;
  height: 21px;
  margin-right: 33px;
  z-index: 0;
}

#climate {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 120px;
  border-bottom: 1px solid #000;
}

.earth-photo {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earth-photo img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 1000px;
  height: 100%;
}

.climate-description {
  width: 50%;
  padding: 55px 130px;
  font-size: 16px;
  font-weight: 550;
  line-height: 24px;
  align-content: center;
  background-color: #000;
  color: #fff;
  font-family: "SeasonSansTRIAL-Medium";
}

#programme-vision {
  position: relative;
}

.programme-line-right {
  position: absolute;
  width: 600px;
  height: 1px;
  background-color: #000;
  top: 40%;
  right: 20%;
  transform: rotate(135deg);
  z-index: -1;
}

.programme-line-left {
  position: absolute;
  width: 600px;
  height: 1px;
  background-color: #000;
  top: 30%;
  left: calc(25% - 130px);
  transform: rotate(45deg);
  z-index: -1;
}

.vision-title {
  width: 50%;
  margin-left: auto;
  font-size: 72px;
  font-family: "SeasonMix-Regular";
  font-weight: 420;
  background-color: #fcf4eb;
  padding: 25px 21px 25px 50px;
  position: relative;
}

.vision-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #000;
}

.programme-wrapper {
  position: relative;
  height: 1200px;
}

.about {
  position: absolute;
  top: -90px;
  left: 30px;
  width: 519px;
  height: 349px;
}

.about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.modal-text {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 298px;
  height: 90px;
  background-color: #fff;
  padding: 31px 0 31 31px;
  z-index: 0;
  cursor: pointer;
}

.modal-text p {
  font-size: 22px;
  font-family: "SeasonSansTRIAL-Medium";
}

.modal-text div {
  background-color: #f96243;
}

.modal-description {
  max-height: 0;
  overflow: hidden;
}

.modal-description p {
  padding: 0 24px;
  font-size: 16px;
  line-height: 24px;
}

.modal.active .modal-description {
  position: absolute;
  bottom: -400px;
  right: 0;
  max-height: 490px;
  width: 710px;
  background-color: #000;
  color: #fff;
  padding: 120px 100px 60px 92px;
  z-index: 2;
}

.modal.active .square-shape {
  background-color: #000;
}

.modal-description.active {
  display: block;
}

.goals {
  position: absolute;
  top: 117px;
  right: 50px;
  width: 484px;
  height: 397px;
}

.goals img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.programme-image-one {
  position: absolute;
  max-width: 272px;
  max-height: 336px;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.programme-image-one img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mission {
  position: absolute;
  bottom: 50px;
  left: 10%;
  width: 507px;
  height: 365px;
}

.mission img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mission-text {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 298px;
  height: 90px;
  background-color: #fff;
  padding: 31px 0 31 31px;
}

.mission-text p {
  font-size: 22px;
  font-family: "SeasonSansTRIAL-Medium";
}

.mission-text div {
  background-color: #f96243;
}

.programme-image-two {
  position: absolute;
  width: 346px;
  height: 245px;
  bottom: 125px;
  right: 25%;
  transform: translateX(50%);
}

.programme-image-two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#research {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
}

.research-theme {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.theme-box {
  width: calc(50% - 10px);
  font-size: 72px;
  font-weight: 420;
  background-color: #fcf4eb;
  padding: 25px 21px 25px 50px;
  position: relative;
  font-family: "SeasonMix-Regular";
}

.theme-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #000;
  height: 1px;
  width: calc(100% + 30px);
  left: -20px;
}

.research-description {
  font-size: 16px;
  line-height: 24px;
  padding: 25px 120px 165px;
  width: calc(50% - 10px);
  background-color: #fcf4eb;
  font-family: "SeasonSansTRIAL-Medium";
  position: relative;
}

.research-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.theme-card-left {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-left: 100px;
  width: calc(50% - 10px);
}

.image-card {
  background-color: #fff;
  max-width: 600px;
  height: 670px;
  position: relative;
}

.image-card p {
  padding: 60px;
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

.image-card img {
  width: 100%;
  height: 388px;
  object-fit: cover;
}

.title-card {
  position: absolute;
  top: 230px;
  left: -102px;
  background-color: #f96243;
  width: 345px;
  height: 158px;
  display: flex;
  align-items: center;
  padding: 45px 53px 45px 41px;
  font-size: 30px;
  line-height: 100%;
  font-family: "SeasonSansTRIAL-Regular";
}

.number {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 85px;
  height: 85px;
  background-color: #fcf4eb;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "SeasonSansTRIAL-Light";
}

.theme-card-right {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 12px;
}

#programme-outcomes {
  position: relative;
  border-bottom: 1px solid #000;
}

.outcome-title {
  width: 50%;
  margin-left: auto;
  padding: 25px 21px 24px 51px;
  position: relative;
  background-color: #fcf4eb;
}

.outcome-title p {
  font-size: 72px;
  line-height: 100%;
  font-family: "SeasonMix-Regular";
}

.outcome-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #000;
}

.outcomes_wrapper {
  position: relative;
  padding: 200px 0 150px;
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.graphic_ornament_programme_1 {
  position: absolute;
  top: 0;
  left: calc(50% - 58px);
  transform: translateX(-50%);
}

.graphic_ornament_programme_2 {
  position: absolute;
  top: 0;
  left: 50%;
}

.outcome-line-left-box {
  position: absolute;
  left: calc(25% - 347px);
}

.outcome-box {
  background-color: #000;
  color: white;
  padding: 43px 27px 68px 31px;
  width: calc(25% - 24px);
  height: 249px;
  font-family: "SeasonSansTRIAL-Medium";
  font-size: 16px;
  line-height: 22px;
}

#who-can-apply {
  border-bottom: 1px solid #000;
  padding-bottom: 0;
}

.apply-theme {
  width: calc(50% - 10px);
  padding: 25px 81px 8px 51px;
  height: 218px;
  background-color: #fcf4eb;
  font-size: 72px;
  line-height: 100%;
  font-family: "SeasonMix-Regular";
  position: relative;
}

.apply-theme::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #000;
  width: calc(100% + 50px);
  bottom: 0;
  left: -40px;
}

.apply-wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.apply-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.apply-image-description {
  width: 60%;
  margin: 0 auto;
  background-color: #fcf4eb;
  padding: 30px 26px;
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

.apply-box-2 {
  width: calc(50% + 20px);
  position: relative;
  margin-left: auto;
  background-color: #f96243;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  right: -20px;
}

.application-wrapper {
  height: 1800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 148px;
  position: relative;
}

.application-box-one {
  background-color: #fff;
  width: min(calc(100% - 24px), 570px);
  height: fit-content;
  position: absolute;
  padding-bottom: 72px;
  top: 0;
  left: 0;
}

.application-box-two {
  background-color: #fff;
  width: min(calc(100% - 24px), 570px);
  height: fit-content;
  position: absolute;
  top: 391px;
  right: 0;
  padding-bottom: 72px;
}

.application-box-three {
  background-color: #fff;
  width: min(calc(100% - 24px), 570px);
  height: fit-content;
  position: absolute;
  left: 0;
  top: 824px;
  padding-bottom: 72px;
}

.application-box-four {
  background-color: #fff;
  width: min(calc(100% - 24px), 570px);
  height: fit-content;
  position: absolute;
  right: 0;
  top: 1012px;
  padding-bottom: 72px;
}

.application-box-two img {
  width: 137px;
  height: 137px;
  position: absolute;
  top: -137px;
  left: -137px;
}

.application-box-three img {
  width: 137px;
  height: 137px;
  position: absolute;
  top: -137px;
  right: -137px;
}

.application-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 106px;
  color: #f96243;
  border: 1px solid #f96243;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  line-height: 44px;
  font-family: "SeasonMix-Regular";
}

.application-title {
  position: absolute;
  top: 41px;
  left: 144px;
  font-family: "SeasonSansTRIAL-Medium";
  font-size: 24px;
  line-height: 32px;
}

.application-content p {
  margin: 160px 130px auto 54px;
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

.application-content ul {
  margin: 160px 130px auto 54px;
}

.application-content ul li {
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

.note {
  margin: 238px 97px auto 44px;
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

.application-content-form ol {
  margin: 32px 97px auto 64px;
}

.application-content-form ol li {
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

.application-note {
  margin: 32px 97px auto 44px;
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

.apply-square-shape-one {
  position: absolute;
  background-color: #000;
  width: 21px;
  height: 21px;
  left: -10.5px;
  bottom: -56px;
}

.application-form {
  position: absolute;
  top: 106px;
  left: 106px;
  width: min(calc(100% - 106px), 463px);
  height: 87px;
  background-color: #f96243;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 31px;
}

#leader-area {
  position: relative;
  border-bottom: 1px solid #000;
  padding-bottom: 60px;
}

.team-ornament {
  position: absolute;
  bottom: -10px;
  left: -25px;
  width: 375px;
  height: 379px;
}

.team-ornament img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-title {
  width: 50%;
  margin-left: auto;
  padding: 25px 81px 16px 51px;
  height: 220px;
  padding: 25px 81px 16px 51px;
  font-size: 72px;
  line-height: 100%;
  font-family: "SeasonMix-Regular";
  position: relative;
  background-color: #fcf4eb;
}

.team-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #000;
}

.leader-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  margin-top: 60px;
}

.profile-area {
  width: calc(50% - 10px);
}

.profile-box {
  margin-left: auto;
  padding: 0 12px;
  max-width: 336px;
}

.profile-box-edge {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf4eb;
  margin-bottom: 20px;
}

.profile-box-edge img {
  border-radius: 50%;
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 22px;
}

.profile-box-edge::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./svg/profile-line-box.svg");
  background-size: 100% 100%;
}

.bio {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(50% - 10px);
  padding-bottom: 50px;
}

.profile-line {
  position: absolute;
  z-index: 1;
}

.profile-desc {
  margin: 17px auto;
}

.profile-desc p:nth-child(3) {
  font-family: "SeasonSansTRIAL-Medium";
  font-size: 16px;
  line-height: 24px;
}

.leader-name {
  font-size: 40px;
  line-height: 44px;
  font-family: "SeasonMix-Regular";
}

.leader-title {
  font-size: 22px;
  line-height: 44px;
  font-family: "SeasonSansTRIAL-Medium";
}

.profile-ornament {
  position: absolute;
  top: 30px;
  left: calc(25% - 10px);
}

.team-lead-bio {
  padding: 0 10px;
  width: calc(50% - 10px);
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

.team-lead-bio-right {
  width: calc(50% - 10px);
  padding: 0 10px;
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

#team {
  padding-top: 50px;
  padding-bottom: 50px;
}

.teambox {
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
}

.team-member-bio-1 {
  width: calc(50% - 10px);
  padding: 0 10px;
  font-family: "SeasonSansTRIAL-Medium";
  font-size: 16px;
  line-height: 24px;
}

.member-box {
  width: calc(50% - 10px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.member-image-box {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

#rest-members {
  border-top: 1px solid #000;
  padding-top: 30px;
}

.rest-memebers-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rest-memberbox {
  width: calc(25% - 15px);
}

.rest-member-imageCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 336px;
  padding: 0 10px;
  margin: 0 auto 34px;
}

.rest-member-name {
  font-size: 40px;
  line-height: 44px;
  font-family: "SeasonMix-Regular";
}

.rest-member-position {
  font-size: 22px;
  line-height: 44px;
  font-family: "SeasonSansTRIAL-Medium";
  font-weight: 550;
}

.rest-member-description {
  padding: 0 10px;
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

#mentors {
  padding-bottom: 80px;
  position: relative;
  border-top: 1px solid #000;
}

.decor__line {
  position: absolute;
  left: 50%;
}

.mentor-header {
  width: calc(50% - 10px);
  font-size: 72px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  padding: 25px 21px 100px 50px;
  position: relative;
  margin-bottom: 60px;
  font-family: "SeasonMix-Regular";
}

.mentor-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #000;
  height: 1px;
  width: calc(100% + 30px);
  left: -20px;
}

.mentors_category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category_item {
  font-size: 44px;
  font-style: normal;
  font-weight: 420;
  line-height: normal;
  margin-bottom: 60px;
  padding-left: 60px;
  flex: 0 0 auto;
  width: calc(50% - 10px);
  font-family: "SeasonMix-Regular";
}

.mentors_grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px 0;
}

.mentors_item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 0 auto;
  width: calc(50% - 10px);
}

.mentors_photo {
  flex: 0 0 auto;
  width: calc(50% - 5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image {
  position: relative;
  width: 336px;
  height: 336px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.image::before {
  content: "";
  width: 336px;
  height: 336px;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  background-image: url(./svg/profile-line-box.svg);
}

.image img {
  width: 292px;
  height: 292px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.name {
  font-size: 38px;
  font-family: "SeasonMix-Regular";
  font-style: normal;
  font-weight: 420;
  line-height: 44px;
  margin: 20px auto 0;
  text-align: left;
  width: 336px;
}

.mentors_content {
  flex: 0 0 auto;
  width: calc(50% - 10px);
  padding: 0 10px;
}

.mentors_content p:not(:last-child) {
  margin-bottom: 24px;
}

.mentors_content p {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 550;
  font-family: "SeasonSansTRIAL-Medium";
}

.margin-top {
  margin-top: 123px;
}

.absolute {
  position: absolute;
  width: 100%;
  top: 285px;
  left: 0;
}

.absolute-2 {
  position: absolute;
  width: 100%;
  top: 1288px;
  left: 0;
}

#FAQ {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #fff;
  background-color: #000;
  z-index: 1;
  min-height: 960px;
  margin-top: 200px;
}

.faq-title {
  font-size: 40px;
  line-height: 44px;
  font-family: "SeasonMix-Regular";
  position: absolute;
  top: -73px;
  left: 0;
  color: #fff;
}

.faq-box {
  position: absolute;
  width: 80%;
  background-color: #fcf4eb;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  grid-column: 1/3;
}

.faq-listbox {
  padding: 48px 0;
}

.faq-item {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.faq-question p {
  font-family: "SeasonSansTRIAL-Bold";
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 28px 0;
  display: none;
}

.faq-answer p {
  padding: 0 0 20px 0;
  font-size: 16px;
  line-height: 24px;
}

.faq-item.active .faq-answer {
  display: block;
  max-height: 200px;
  background-color: #fff;
}

.faq-item.active .faq-question {
  width: 100%;
}

.faq-item.active {
  background-color: #fff;
}

.faq-question img {
  transition: transform 0.3s ease;
}

.faq-item.active .faq-question img {
  transform: rotate(180deg);
}

.faq-item img {
  margin-left: 34px;
}

.faq-img-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 466px;
  height: 390px;
  z-index: -1;
}

.faq-img-2 {
  position: absolute;
  left: 56px;
  bottom: 43px;
  width: 466px;
  height: 430px;
  z-index: -1;
}

.faq-img-3 {
  position: absolute;
  top: 0;
  right: 342px;
  width: 466px;
  height: 430px;
  z-index: -1;
}

.faq-ornament {
  position: absolute;
  top: 0;
  right: -11px;
  width: 180px;
  height: 180px;
  grid-column: 1/2;
}

#about {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 150px;
  position: relative;
  height: 1508px;
}

#about img {
  position: absolute;
  grid-column: 2/2;
  z-index: 2;
  top: -18px;
  left: -286px;
}

.about-box {
  position: absolute;
  left: 5%;
  grid-column: 1/3;
  width: 90%;
  height: 875px;
  background-image: url("./gallery/about_bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title {
  grid-column: 2/2;
  height: 220px;
  border-bottom: 1px solid #000;
  padding: 25px 21px 8px 51px;
}

.about-title p {
  font-size: 72px;
  line-height: 100%;
  font-family: "SeasonMix-Regular";
}

.about-left {
  position: absolute;
  width: 358px;
  height: 358px;
  background-color: #fff;
  top: 286px;
  left: 190px;
  padding: 42px 18px 104px 35px;
  z-index: 2;
  font-size: 30px;
  line-height: 40px;
  font-family: "SeasonMix-Regular";
}

.about-right {
  position: absolute;
  top: 286px;
  right: 141px;
  width: 521px;
  background-color: #fff;
  padding: 43px 45px 56px 71px;
  font-size: 16px;
  line-height: 24px;
  font-family: "SeasonSansTRIAL-Medium";
}

#footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  height: 634px;
  font-size: 16px;
  line-height: 100%;
  font-family: "SeasonSansTRIAL-Regular";
  position: relative;
}

.top-layer {
  grid-column: 1/5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #000;
}

.bottom-layer {
  grid-column: 1/5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 47px;
  border-top: 1px solid #000;
}

.logo-footer {
  grid-column: 1/3;
  position: relative;
  height: 120px;
  padding: 0 20px;
  margin-top: 401px;
}

#footer-school {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}

.footer-square {
  width: 22px;
  height: 22px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  grid-column: 1/2;
  width: 326px;
  height: 234px;
  padding: 0 20px;
  position: absolute;
  top: 132px;
}

.footer-title {
  font-family: "SeasonSansTRIAL-Bold";
  text-transform: uppercase;
}

.phone span {
  text-decoration: underline;
}

.social-media {
  position: absolute;
  height: 120px;
  grid-column: 2/3;
  top: 132px;
  left: 18px;
}

.social-media a {
  text-decoration: none;
  color: #000;
}

.email-form {
  grid-column: 3/5;
  height: 241px;
  padding: 85px 28px 46px 59px;
  border-bottom: 1px solid #000;
  margin-top: 47px;
}

.email-form input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  font-size: 16px;
  color: #808e8d;
}

.form {
  max-width: 636px;
  height: 68px;
  position: relative;
  margin-top: 42px;
}

.form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  background-color: transparent;
  border: none;
  font-family: "SeasonSansTRIAL-Medium";
  font-size: 16px;
}

.form button:hover {
  cursor: pointer;
  color: blue;
}

.footer-banner {
  display: flex;
  gap: 32px;
  grid-column: 3/4;
  position: absolute;
  top: 51px;
  left: 59px;
  z-index: 2;
}

.organiser {
  grid-column: 4/5;
  max-width: 220px;
  position: absolute;
  left: 364px;
  top: 51px;
  font-size: 16px;
  line-height: 24px;
  z-index: 2;
}

.organiser p:first-child {
  font-family: "SeasonSansTRIAL-Bold";
}

.footer-overlay {
  grid-column: 3/5;
  position: absolute;
  top: 288px;
  left: 0;
  height: fit-content;
  width: 100%;
  height: 299px;
  background-color: #fcf4eb;
}

.privacy {
  position: absolute;
  left: 551px;
  top: 229px;
  width: fit-content;
  grid-column: 4/5;
  z-index: 2;
}

.privacy ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: "SeasonSansTRIAL-Regular";
  line-height: 100%;
}

#intro > *,
#climate > *,
#programme-vision > *,
#research > *,
#programme-outcomes > *,
#who-can-apply > *,
#leader-area > *,
#team > *,
#rest-members > *,
#mentors > *,
#about > *,
#footer > * {
  min-width: 0;
}

body {
  overflow-x: clip;
}

@media (max-width: 1400px) {
  .aral {
    width: 120px;
  }
  .school {
    width: 220px;
  }

  .menu ul li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 1200px) {
  .lang-togglebox ul li:not(:last-child) {
    margin-right: 20px;
  }

  .aral {
    width: 100px;
  }
  .school {
    width: 180px;
  }

  .menu ul li:not(:last-child) {
    margin-right: 30px;
  }

  #hero {
    padding-bottom: 40px;
  }

  .hero-image img {
    max-height: 450px;
  }

  .hero-text {
    font-size: 26px;
    padding: 40px 30px;
  }

  #intro {
    padding-bottom: 80px;
  }
}

@media (max-width: 992px) {
  .grid-line:nth-child(1) {
    display: none;
  }

  .grid-line:nth-child(3) {
    display: none;
  }

  .banner {
    margin-left: -20px;
    width: calc(100% + 40px);
  }

  .banner-textbox {
    width: 100%;
  }

  .lang-togglebox {
    display: none;
  }

  .navigation {
    height: 108px;
  }

  .navigation_bottom {
    flex-direction: column;
    gap: 5px 0;
  }

  .menu {
    display: none;
  }

  .aral {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .aral a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .school {
    display: none;
  }

  .main_logo {
    display: none;
  }

  .mobile_logo {
    display: block;
  }

  .hamburger_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
  }

  .square {
    display: none;
  }

  #hero {
    padding: 180px 0 0 0;
    border: none;
  }

  .hero-wrapper {
    flex-direction: column;
  }

  .hero-image {
    width: 100%;
  }

  .hero-box {
    width: 100%;
  }

  .hero-text {
    font-size: 22px;
    padding: 40px;
  }

  .hero-text::before {
    left: -20px;
    width: calc(100% + 40px);
  }

  .hero-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    height: 1px;
    width: calc(100% + 40px);
    pointer-events: none;
    background-color: #000;
  }

  #intro {
    padding-bottom: 60px;
  }
}
